/01_decision_tree_examples.ipynb
/L10_model_families_advertising_data.ipynb
/L11_KNN_examples.ipynb
/L15_logistic_reg_example.ipynb
/L16_logistic_reg_example_roc.ipynb
/L17_02_CV_example.ipynb
/L18_02_subset_selection_example.ipynb
/L1_01_tips_python_notebook_quarto.ipynb
/L20_PCA_imputation_example.ipynb
/L22_02_clustering_example.ipynb
/L3_02_data_trans_in_Python.ipynb
/L6_01_data_viz_I.ipynb
/L7_01_data_viz_II.ipynb
/L7_02_text_mining.ipynb
/L8_01_Shiny_for_Python.ipynb
/L8_02_Shiny_for_Python_examples.ipynb
/Quiz1
/Quiz2
/Quiz3